/**
* Accordeon
*/


details {
    width: 130px;
  }

details[open] {
    width: 300px;
  }
  
  summary {
    outline: none;
    font-size: 1.15em;
}

summary::-webkit-details-marker {
    display: none
}


